<div class=user-menu>
  <div class=user-name>
    <a href="#">user</a>
  </div>
  <div class=new-room-btn>
   <a href="#">チャットを作成する</a>
  </div>
</div>

<div class=rooms-list>

  <div class=chat-room>
    <div class="room-name">
     <a href="#">test-room</a>
    </div>
  </div>









</div>