<div class=user-menu>
  <div class=user-name>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class=new-room-btn>
   <a href="#">チャットを作成する</a>
  </div>
</div>

<div class=rooms-list>

  <div class=room-list>
    <div class="room-list-name">
     <a href="#">test-room</a>
    </div>
  </div>









</div>